/* I have a lot to learn, and that's a good thing! */

* {
    text-align: center;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #777;
    color: #777;
    width: 960px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}

section {
    display: block;
    background-color: #ebebeb;
    color: #777;
    padding: 20px;
    width: 495px;
    margin: 25px;
    float: left;
}

header {
    display: block;
    background-color: #ebebeb;
    color: #777;
    padding: 20px;
    width: 960px;
    margin: 10px;
}

h3 {
    display: block;
    background-color: #ebebeb;
    color: #777;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.p {
    display: block;
    background-color: #ebebeb;
    color: #777;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

article {
    display: block;
    background-color: #777;
    color: #ebebeb;
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin: 10px;
}

nav {
    display: block;
    background-color: #ebebeb;
    color: #777;
    padding: 20px;
    width: 960px;
    margin: 10px;
}

section {
    display: block;
    background-color: #ebebeb;
    color: #777;
    padding: 10px;
    width: 495px;
    float: left;
    margin: 10px;
}

.container {
    display: block;
    background-color: #ebebeb;
    color: #777;
    /* padding: 20px; */
    width: 475px;
    margin: 10px;
}

aside {
    display: block;
    position: relative;
    background-color: #ebebeb;
    color: #777;
    width: 445px;
    float: right;
    /* padding: 20px; */
    /* margin: 10px; */
    /* z-index: 1; */
    height: 300px;
}

footer {
    position: relative;
    display: block;
    background-color: #ebebeb;
    color: #777;
    padding: 20px;
    width: 960px;
    float: auto;
    /* bottom: -10px; */
    /* height: 10%; */
    clear: both;
    margin-top: auto;
}