/* I have a lot to learn, and that's a good thing! */

* {
    text-align: center;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #777;
    color: #777;
    width: 960px;
    font-size: 18px;
}

section {
    display: block;
    background-color: #ebebeb;
    color: #777;
    padding: 20px;
    width: 495px;
    margin: 50px;
}

header {
    display: block;
    background-color: #ebebeb;
    color: #777;
    padding: 20px;
    width: 475px;
}

h3 {
    display: block;
    background-color: #ebebeb;
    color: #777;
    padding: 20px;
    width: 475px;
}

.p {
    display: block;
    background-color: #ebebeb;
    color: #777;
    padding: 20px;
    width: 475px;
}

article {
    display: block;
    background-color: #777;
    color: #ebebeb;
    padding: 20px;
    width: 475px;
    margin: 25px;
}

nav {
    display: block;
    background-color: #ebebeb;
    color: #777;
    padding: 20px;
    width: 900px;
}

section {
    display: block;
    background-color: #ebebeb;
    color: #777;
    padding: 20px;
    width: 475px;
}

aside {
    display: inline-block;
    background-color: #ebebeb;
    color: #777;
    width: 475px;
    height: 300px;
    margin-left: 10px;
}

footer {
    display: block;
    background-color: #ebebeb;
    color: #777;
    padding: 20px;
    width: 900px;
}